@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9fafb;
  font-family: var(--font-inter), system-ui, sans-serif;
  color: #1f2937;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), system-ui, sans-serif;
  font-weight: 700;
}

a {
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
}